[Unit]
Description=vLLM Qwen3.5 API
After=network.target
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/deepseek_lab
Environment="CUDA_MODULE_LOADING=LAZY"
Environment="VLLM_MM_INPUT_CACHE_GIB=8"
Environment="VLLM_ALLOW_LONG_MAX_MODEL_LEN=1"
Environment="VLLM_IMAGE_FETCH_TIMEOUT=30"
#ExecStart=/home/ubuntu/deepseek_lab/venv3/bin/vllm serve cyankiwi/Qwen3.5-4B-AWQ-4bit --port 8007 --max-model-len 32768 --gpu-memory-utilization 0.75 --max-num-seqs 4 --dtype half --limit-mm-per-prompt '{"image": 1, "video": 0}' --mm-processor-kwargs '{"max_pixels": 602112}' --allowed-local-media-path /tmp --enforce-eager
ExecStart=/home/ubuntu/deepseek_lab/venv3/bin/vllm serve cyankiwi/Qwen3.5-4B-AWQ-4bit --port 8007 --max-model-len 32768 --max-num-batched-tokens 32768 --gpu-memory-utilization 0.75 --max-num-seqs 8 --dtype half --limit-mm-per-prompt '{"image": 1, "video": 0}' --mm-processor-kwargs '{"max_pixels": 602112}' --allowed-local-media-path /tmp --kv-cache-dtype fp8 --compilation-config '{"cudagraph_capture_sizes": [1, 2, 4, 8]}'
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
[Install]
WantedBy=multi-user.target

